
.dashboard-wrapper{
    height: 100vh;
    width: 100vw;
    // background-color: #d1eaff;
    background-image: linear-gradient(to top, #bdc3c7, rgb(235, 235, 235) );
    
    .table-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        
        .table{
            width: 50%;

            .thead{
                background-color: rgb(216, 244, 247);
            }
            .tr{
                background-color: rgb(151, 212, 255);   
                font-weight: 600;
                color: #252525;

                .td{
                    padding: 8px;
                }
                
            }
        }
    }

    .barchart-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        
        .barchart{
            margin-bottom: 2rem;
            width: 70%;

            .card-wrapper{
                height: 5rem;
                width: 100%;
                .p{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    .span{
                        // background-color: #f7f7f7;
                        color: white;
                        font-size: 15px;
                        margin: 5px 5px;
                        padding: 10px;
                        font-weight: 700;
                        border-radius: .2rem;
                    }
                    .one{
                        background-color: cadetblue;
                    }
                    .two{
                        background-color: rgb(33, 150, 243);
                    }
                    .three{
                        background-color: purple;
                    }
                }
            }
        }
    }

/* for barchart4 */

.svg {
    display: block;
    width: 100%;
    height: 33vh;
    background: #f7f7f7;
    overflow: visible;
  }
  
  .svg rect.selection {
    stroke: none;
  }
  
  
  // button {
  //   width: 100px;
  //   border: 1px solid black;
  //   margin: 0 auto 5px;
  // }
  
  // video {
  //   position: fixed;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   top: auto;
  //   width: 100%;
  // }
  
  // .field {
  //   display: inline-block;
  //   margin: 0 0.5em;
  // }
  
  // .field input {
  //   margin-right: 0.5em;
  // }
  

}